In [114]:
import pandas as pd
import numpy as np
from faker import Faker
import random

In [66]:
fake=Faker()

In [198]:
teachers=[]
for _ in range(10):
  teachers.append(fake.name()) # fake data generator

In [199]:
teachers

['Kenneth Harris',
 'Ann Haas',
 'Amy Miller',
 'Erin Lewis',
 'Joseph Long',
 'Christine Hall',
 'Sean Fields',
 'George Davis',
 'Sabrina Johnson',
 'Mark Anderson']

In [156]:
year2_dict={'G':1,'H':1,'I':1,'J':1,'K':1,'M':1,'LAB21':2,'LAB22':2,'LAB23':2,'TUT1':2,'TUT2':2} #subjects with number of hours per day

In [157]:
year3_subs=['A','B','C','D','E','F','LAB31','LAB32','LAB33']
year2_subs=list(year2_dict.keys())

In [70]:
subs_teach={teachers[1]:['A','G','LAB23'],teachers[3]:['LAB32'],
            teachers[4]:['LAB31'],teachers[5]:['F','M'],
            teachers[6]:['E','K'],teachers[7]:['D','J'],teachers[8]:['C','I'],teachers[9]:['B','H']}

In [140]:
year2_subs

['G', 'H', 'I', 'J', 'K', 'M', 'LAB21', 'LAB22', 'LAB23', 'TUT1', 'TUT2']

In [191]:
year2_map=[]
for sub in year2_subs:
    year2_map.append(sub)
    year2_map.append(sub)
    year2_map.append(sub)

In [192]:
year2_map=year2_map[0:23]
year2_map[19]='LAB22'
year2_map[20]='LAB23'
year2_map[21]='TUT1'
year2_map[22]='TUT2' # Replaced lab21 with other labs and tutorials

In [193]:
year2_map

['G',
 'G',
 'G',
 'H',
 'H',
 'H',
 'I',
 'I',
 'I',
 'J',
 'J',
 'J',
 'K',
 'K',
 'K',
 'M',
 'M',
 'M',
 'LAB21',
 'LAB22',
 'LAB23',
 'TUT1',
 'TUT2']

In [ ]:
year

In [194]:
#year2_map
random.shuffle(year2_map)# shuffling the list to generate randomness in timetable
year2_map

['H',
 'I',
 'M',
 'G',
 'I',
 'J',
 'M',
 'M',
 'K',
 'J',
 'H',
 'LAB21',
 'K',
 'J',
 'TUT2',
 'K',
 'TUT1',
 'G',
 'LAB23',
 'H',
 'LAB22',
 'G',
 'I']

In [195]:

all_days=[]
for i in range(0,6):
    temp_day=[]
    hours_sum=0
    flag=0 # This is to check whether lab or tutorial has already been alloted on a same day
    for sub in year2_map:
        

        if sub not in temp_day:
            if flag==1:
                continue
            else:
            
                if year2_dict[sub]==2: 
                    flag=1

                temp_day.append(sub)

                hours_sum+=year2_dict[sub] 
                year2_map.remove(sub)


        
        if hours_sum==6:                # 1 day cannot have more than 6 hours
            break

        else:
            pass
    all_days.append(temp_day)

temp_day

In [197]:
all_days

[['H', 'M', 'I', 'K', 'LAB21'],
 ['G', 'J', 'M', 'H', 'TUT2'],
 ['I', 'J', 'K', 'G', 'H'],
 ['M', 'K', 'LAB23'],
 ['J', 'LAB22'],
 ['TUT1']]

In [ ]:
all_days =

<b> ~~ randomise time table ~~<br>
 ~~include tutorials~~<br>
 Tutorial should not be in row 6<br>

<h1>Implementing for different years</h1>

In [256]:
a=np.array([[all_days],[all_days]])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  """Entry point for launching an IPython kernel.

In [257]:
a

array([[[list(['H', 'M', 'I', 'K', 'LAB21']),
         list(['G', 'J', 'M', 'H', 'TUT2']),
         list(['I', 'J', 'K', 'G', 'H']), list(['M', 'K', 'LAB23']),
         list(['J', 'LAB22']), list(['TUT1'])]],

       [[list(['H', 'M', 'I', 'K', 'LAB21']),
         list(['G', 'J', 'M', 'H', 'TUT2']),
         list(['I', 'J', 'K', 'G', 'H']), list(['M', 'K', 'LAB23']),
         list(['J', 'LAB22']), list(['TUT1'])]]], dtype=object)

In [271]:
a.shape

(2, 1, 6)

array([[[list(['H', 'M', 'I', 'K', 'LAB21']),
         list(['G', 'J', 'M', 'H', 'TUT2']),
         list(['I', 'J', 'K', 'G', 'H']), list(['M', 'K', 'LAB23']),
         list(['J', 'LAB22']), list(['TUT1'])]],

       [[list(['H', 'M', 'I', 'K', 'LAB21']),
         list(['G', 'J', 'M', 'H', 'TUT2']),
         list(['I', 'J', 'K', 'G', 'H']), list(['M', 'K', 'LAB23']),
         list(['J', 'LAB22']), list(['TUT1'])]]], dtype=object)

In [260]:
year3_dict={'A':1,'B':1,'C':1,'D':1,'E':1,'F':1,'LAB31':2,'LAB32':2,'LAB33':2,'TUT1':2,'TUT2':2} #subjects with number of hours per day

In [263]:
year3_subs=list(year3_dict.keys())

In [265]:
year3_subs

['A', 'B', 'C', 'D', 'E', 'F', 'LAB31', 'LAB32', 'LAB33', 'TUT1', 'TUT2']

In [ ]:

all_days_3=[]
for i in range(0,6):
    temp_day=[]
    hours_sum=0
    flag=0 # This is to check whether lab or tutorial has already been alloted on a same day
    for sub in year2_map:
        

        if sub not in temp_day:
            if flag==1:
                continue
            else:
            
                if year3_dict[sub]==2: 
                    flag=1

                temp_day.append(sub)

                hours_sum+=year3_dict[sub] 
                year3_map.remove(sub)


        
        if hours_sum==6:                # 1 day cannot have more than 6 hours
            break

        else:
            pass
    all_days_3.append(temp_day)